.custom-link a {
    color: grey;
    text-decoration: none;
    border-bottom: 1px dotted grey;
}

.custom-link a:hover {
    color: grey;
    text-decoration: none;
    border-bottom: 1px dotted grey;
}
